<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/contact.css">
    
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a   href="/">Shop</a></li>
                <li class="main-header__item"><a   href="/admin/add-product">Add Product</a></li>
                <li class="main-header__item"><a class="active"   href="/contact">Contact</a></li>

            </ul>
        </nav>
    </header>
    <div class="contact-form">
        <h1>Book a Call</h1>
        <div>Book a call slot our representaive will call you within 1hr of selected time</div>
        <form action="/success" method="POST">
            <div >
                <label>
                    Name:<br />
                </label>
                <input class="name" placeholder="Enter your name" type="text" required/> </div>
                <div>
                    <label>
                        Email:<br/>
                    </label>
                    <input class="email" placeholder="Enter your email" type="email" required/>
                </div>
                <div>
                    <button type="submit">Get a Call</button>
                </div>
        </form>
    </div>

</body>

</html>